<div class="top"></div>

<div id="search">
  
  <div>
    <input placeholder="Search Barriers"></input>
  </div>
  
  <br>
  <a href="#" class="btn btn-primary btn-sm">Advanced Search Options</a>
</div>
